registry=https://registry.npm.taobao.org/
@gtlmjs:registry=http://whrdd.f3322.net:8090/repository/npm-all
//whrdd.f3322.net:8090/repository/npm-all/:_authToken=NpmToken.8483e0aa-94e0-3b5b-b5f8-8919e97eaad4
